<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Live Streaming Demonstration</title>
    <!-- <title>Get Data</title>
      <script src="/socket.io/socket.io.js"></script> -->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming!!!!</h3>
            <img src="http://localhost:5000/video_feed"  height =80 width =100> 
            <!-- <script>
            var socket = io.connect('localhost', {port: 5000});
            socket.on('flaskapp', function(message) {
              console.log(message)
          });
            </script> -->
        </div>
        <div>
            <button (click)="disconnectall()">close</button>
     </div>>
    </div>
</div>
</body>
</html>