<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <form>
        <fieldset>
          <legend>Which of the following is a real spell</legend>
          <input type="radio" id="radio1" name="radios" checked>
          <label for="radio1">Hocis Pocis</label><br>
          <input type="radio" id="radio2" name="radios">
          <label for="radio2">Ablakazam</label><br>
          <input type="radio" id="radio3" name="radios">
          <label for="radio3">Lumos</label>
        </fieldset>
        <fieldset>
          <legend>What is the name of a person without magic</legend>
          <input type="radio" id="radio4" name="radios1" checked>
          <label for="radio1">Moggel</label><br>
          <input type="radio" id="radio5" name="radios1">
          <label for="radio2">Mogel</label><br>
          <input type="radio" id="radio6" name="radios1">
          <label for="radio3">Muggle</label>
        </fieldset>
        <fieldset>
          <legend>Which bird rises from the ashes</legend>
          <input type="radio" id="radio7" name="radios2" checked>
          <label for="radio7">Pegasus</label><br>
          <input type="radio" id="radio8" name="radios2">
          <label for="radio8">Pheonix</label><br>
          <input type="radio" id="radio9" name="radios2">
          <label for="radio9">Dragon Dove</label>
        </fieldset>
        <button (click)="completeExam()">Submit Answers</button>
      </form>
    </div>
    <div class="col-sm-4">
      <div class="py-4 text-center">
        <h5>Webcam preview</h5>
        <webcam [height]="320" [width]="240" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
          *ngIf="showWebcam" [videoOptions]="videoOptions" (initError)="handleInitError($event)"></webcam>
      </div>
    </div>
  </div>
</div>